USE [QuanLyHocSinh]
GO
/****** Object:  Table [dbo].[DIACHI]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIACHI](
	[MaDiaChi] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaHS] [nvarchar](50) NOT NULL,
	[MaMH] [nvarchar](50) NOT NULL,
	[ThuongXuyen] [float] NULL,
	[Giuaki] [float] NULL,
	[Cuoiki] [float] NULL,
	[TBM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVCN]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVCN](
	[MaGVCN] [nvarchar](50) NOT NULL,
	[TenGiaoVien] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGVCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MaHP] [nvarchar](50) NOT NULL,
	[HocPhi] [decimal](10, 2) NOT NULL,
	[DaDong] [decimal](10, 2) NULL,
	[ConNo] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaHS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MaHS] [nvarchar](50) NOT NULL,
	[HoTenHS] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MaLop] [nvarchar](50) NULL,
	[MaDiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MaLop] [nvarchar](50) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[Khoi] [int] NOT NULL,
	[MaGVCN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [nvarchar](50) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 11/14/2025 6:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[UserID] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIACHI] ([MaDiaChi], [DiaChi]) VALUES (N'DC001', N'Phường Mỹ Bình, TP. Long Xuyên, An Giang')
INSERT [dbo].[DIACHI] ([MaDiaChi], [DiaChi]) VALUES (N'DC002', N'Phường Châu Phú, TP. Châu Đốc, An Giang')
INSERT [dbo].[DIACHI] ([MaDiaChi], [DiaChi]) VALUES (N'DC003', N'Huyện Chợ Mới, An Giang')
GO
INSERT [dbo].[DIEM] ([MaHS], [MaMH], [ThuongXuyen], [Giuaki], [Cuoiki], [TBM]) VALUES (N'HS001', N'MH001', 8.5, 8.5, 9.5, 9)
INSERT [dbo].[DIEM] ([MaHS], [MaMH], [ThuongXuyen], [Giuaki], [Cuoiki], [TBM]) VALUES (N'HS002', N'MH001', 9, 7, 9, 8.33)
INSERT [dbo].[DIEM] ([MaHS], [MaMH], [ThuongXuyen], [Giuaki], [Cuoiki], [TBM]) VALUES (N'HS003', N'MH003', 9.5, 9.5, 9.5, 9.5)
GO
INSERT [dbo].[GVCN] ([MaGVCN], [TenGiaoVien], [DienThoai], [Email]) VALUES (N'GV001', N'Nguyễn Thị Hồng', N'0901234567', N'hongnt@agu.edu')
INSERT [dbo].[GVCN] ([MaGVCN], [TenGiaoVien], [DienThoai], [Email]) VALUES (N'GV002', N'Lê Văn Minh', N'0902345678', N'minhlv@agu.edu')
INSERT [dbo].[GVCN] ([MaGVCN], [TenGiaoVien], [DienThoai], [Email]) VALUES (N'GV003', N'Trần Ánh Tuyết', N'0903456789', N'tuyetta@agu.edu')
GO
INSERT [dbo].[HOCPHI] ([MaHP], [HocPhi], [DaDong], [ConNo], [TrangThai], [MaHS]) VALUES (N'HP001', CAST(5000000.00 AS Decimal(10, 2)), CAST(5000000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Đã đóng đủ', N'HS001')
INSERT [dbo].[HOCPHI] ([MaHP], [HocPhi], [DaDong], [ConNo], [TrangThai], [MaHS]) VALUES (N'HP002', CAST(5000000.00 AS Decimal(10, 2)), CAST(3000000.00 AS Decimal(10, 2)), CAST(2000000.00 AS Decimal(10, 2)), N'Chưa đủ', N'HS002')
INSERT [dbo].[HOCPHI] ([MaHP], [HocPhi], [DaDong], [ConNo], [TrangThai], [MaHS]) VALUES (N'HP003', CAST(5500000.00 AS Decimal(10, 2)), CAST(5500000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'Đã đóng đủ', N'HS003')
GO
INSERT [dbo].[HOCSINH] ([MaHS], [HoTenHS], [NgaySinh], [GioiTinh], [Email], [MaLop], [MaDiaChi]) VALUES (N'HS001', N'Trần Minh Hoàng', CAST(N'2008-05-15' AS Date), N'Nam', N'hoangtm@school.com', N'L10A1', N'DC001')
INSERT [dbo].[HOCSINH] ([MaHS], [HoTenHS], [NgaySinh], [GioiTinh], [Email], [MaLop], [MaDiaChi]) VALUES (N'HS002', N'Lê Thị Lan', CAST(N'2007-10-20' AS Date), N'Nữ', N'lanlt@school.com', N'L10A1', N'DC002')
INSERT [dbo].[HOCSINH] ([MaHS], [HoTenHS], [NgaySinh], [GioiTinh], [Email], [MaLop], [MaDiaChi]) VALUES (N'HS003', N'Phạm Văn Tài', CAST(N'2006-03-01' AS Date), N'Nam', N'taipv@school.com', N'L11B1', N'DC003')
GO
INSERT [dbo].[LOPHOC] ([MaLop], [TenLop], [Khoi], [MaGVCN]) VALUES (N'L10A1', N'10A1', 10, N'GV001')
INSERT [dbo].[LOPHOC] ([MaLop], [TenLop], [Khoi], [MaGVCN]) VALUES (N'L10A2', N'10A2', 10, N'GV002')
INSERT [dbo].[LOPHOC] ([MaLop], [TenLop], [Khoi], [MaGVCN]) VALUES (N'L10A3', N'10A3', 10, N'GV007')
GO
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N'MH001', N'Toán')
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N'MH002', N'Ngữ Văn')
INSERT [dbo].[MONHOC] ([MaMH], [TenMH]) VALUES (N'MH003', N'Tiếng Anh')
GO
INSERT [dbo].[NGUOIDUNG] ([UserID], [MatKhau], [VaiTro]) VALUES (N'ID1111', N'111111', N'Admin')
INSERT [dbo].[NGUOIDUNG] ([UserID], [MatKhau], [VaiTro]) VALUES (N'ID1234', N'222222', N'User')
INSERT [dbo].[NGUOIDUNG] ([UserID], [MatKhau], [VaiTro]) VALUES (N'ID1235', N'333333', N'User')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOPHOC__336AF71EB6EC153A]    Script Date: 11/14/2025 6:25:51 PM ******/
ALTER TABLE [dbo].[LOPHOC] ADD UNIQUE NONCLUSTERED 
(
	[TenLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [fk_DIEM_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [fk_DIEM_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [fk_DIEM_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [fk_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [fk_HOCPHI_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [fk_HOCPHI_HOCSINH]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [fk_HOCSINH_DIACHI] FOREIGN KEY([MaDiaChi])
REFERENCES [dbo].[DIACHI] ([MaDiaChi])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [fk_HOCSINH_DIACHI]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [fk_HOCSINH_LOPHOC] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOPHOC] ([MaLop])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [fk_HOCSINH_LOPHOC]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [fk_LOPHOC_GVCN] FOREIGN KEY([MaGVCN])
REFERENCES [dbo].[GVCN] ([MaGVCN])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [fk_LOPHOC_GVCN]
GO
